#barraaceptacion {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 99999;
}
.inner {
    font-size: 15px;
    width: 100%;
    position: absolute;
    padding: 0 10px;
    top: 50%;
    transform: translateY(-50%);
}
.inner p {
    display: inline;
}
.inner a.ok {
    font-weight: bold;
    color: #00ff2e;
    text-decoration: none;
}
.inner a.info {
    color: #faff00;
    text-decoration: none;
}
@media screen and (max-width: 759px) {
    #barraaceptacion {
        min-height: 100px;
        text-align: justify;
    }
}