@import url("noscript.css");
@import url("reset.css");
@import url("cookies.css");

:root {
    --base: #070731;
    --contraste: white;
    --contraste2: #e3ce16;
    --contraste3: black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base);
}
.contenedor {
    display: flex;
    flex-direction: row;
}
header {
    width: 50%
}
.borde-foto {
    background-color: var(--contraste2);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
.borde-foto img {
    width: 300px;
}
header, footer {
    color: var(--contraste);
}
h1 {
    max-width: 400px;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
h2 {
    font-size: x-large;
    font-weight: 5;
    text-align: center;
    margin-top: 50px;
}
.contenedor p {
    max-width: 70%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 50px;
}
h3 {
    border-left: 7px solid var(--contraste2);
    padding-left: 10px;
    margin: 80px 0 40px 15%;
    font-weight: bold;
}
header li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 17%;
}
.idiomas li {
    width: 68%;
    display: flex;
    justify-content: space-between;
}
.idiomas img {
    height: 20px;
    width: 115px;
}
.contacto svg {
    margin-right: 5px;
}
header a {
    color: var(--contraste);
}
.lateral-derecho {
    background-color: var(--contraste);
    width: 45%;
    padding-bottom: 50px;
}
h4 {
    background-color: var(--contraste2);;
    padding: 5px 5% 5px 5%;
    color: var(--contraste3);
    font-size: xx-large;
    font-weight: bold;
}
main h4, aside h4 {
    margin-top: 50px;
}
h5 {
    color: rgb(172, 167, 14);
    font-size: large;
    margin: 30px 5% 20px 12%;
}
main li, aside li {
    margin: 0 5% 15px 30%;
}
main a {
    color: var(--contraste3);
}
.carrousel {
    position: relative;
}
.carrousel img {
    width: 100%;
    display: block;
}
#control {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}
#retroceder {
    transform: rotate(90deg);
}
#avanzar {
    transform: rotate(-90deg);
}

/* #retroceder img, #avanzar img {
    box-shadow: 21px 23px 38px 45px rgba(7,7,49,0.52);
} */

h6 {
    font-weight: bolder;
    margin: 20px 5% 15px 20%;
}
footer {
    width: 90%;
    margin: 0 auto;
}
footer h4 {
    text-align: center;
}
.otros {
    margin-bottom: 30px;
}
footer li {
    margin: 20px 0 15px 0;
}
.pdf {
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: 0 auto;
}
.logo {
    width: 90px;
    margin-top: 30px;
}
.proyectos {
    margin-top: 50px;
}
.github {
    display: flex;
    justify-content: center;
}
footer img {
    filter: invert(100%);
}

/* PROYECTOS
iframe {
    display: inline-flex;
    background-color: white;
    width: 30%;
    height: 500px;
    border: none;
}
*/

@media screen and (max-width: 759px) {
    .contenedor {
        flex-direction: column;
    }
    header, .lateral-derecho, footer {
        width: 100%
    }
    .borde-foto {
        width: 260px;
        height: 260px;
    }
    .borde-foto img {
        width: 260px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: large;
    }
    p {
        max-width: 80%; 
    }
    h3 {
        padding-left: 10px;
        margin-left: 10%;
    }
    .idiomas li, .contacto li {
        margin-left: 14%;
        width: 80%;
    }
    /* .contacto svg {
        margin-right: 0;
    } */
    h4 {
        text-align: center;
    }
    footer li {
        margin-left: 10%;
    }
}