.noscript-warning {
    display: none;
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: #000000cc;
    color: #ffcc00;
    font-weight: bolder;
    padding: 10px 10px;
    text-align: center;
    min-height: 50px;
}
noscript .noscript-warning {
    display: block;
}
@media screen and (max-width: 759px) {
    .noscript-warning {
        text-align: justify;
    }
}